.SinglePage .business-link, .politics-link, .entertainment-link, .sports-link, .science-link {
   color: black;
}

.SinglePage .business-link:hover, .politics-link:hover, .entertainment-link:hover, .sports-link:hover, .science-link:hover {
   text-decoration: underline;
}

.SinglePage .nav-categories {
   display: flex;
   justify-content: space-evenly;
   margin: 35px 30px 0px 30px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding: 9px;
}

.SinglePage .page-title {
   text-align: center;
   margin: 30px auto;
   font-size: 30px;
   color: black;
}

.SinglePage .page-title:hover {
  text-decoration: underline;
}

.SinglePage .business-news {
   border: 1px solid gray;
   box-shadow: 3px 3px 3px black;
   padding-top: -60px;
}

.SinglePage .article-author {
   font-size: 17px;
   text-decoration: none;
   color: black;
   margin-left: 5px;
   margin-top: 5px;
}

.SinglePage .time {
   font-size: 15px;
   margin-top: -10px;
   margin-left: 5px;
   font-weight: lighter;
}

.SinglePage .img {
   width: 140px;
   height: 120px;
   float: left;
   margin-left: 5px;
}

.SinglePage .description {
   margin: -4px 10px 0px 10px;
   font-weight: lighter;
}

.SinglePage .img-description {
   display: flex;
   align-self: flex-start;
   margin-top: -15px;
   padding-top: 20px;
}
