.EditPost.reviews-link, .suggestions-link {
    color: black;
 }
 

.EditPost .reviews-link:hover, .suggestions-link:hover {
    text-decoration: underline;
 }

.EditPost .nav-categories {
    display: flex;
    justify-content: space-evenly;
    margin: 35px 30px 0px 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
 }

.EditPost .edit-post-title {
    text-align: center;
    margin-bottom: 15px;
}

.EditPost .edit-post-container {
    display: flex;
    justify-content: center;
}

.EditPost .name-input, .rating-input, .title-input {
    padding: 7px 12px;
    width: 294px;
    border: .5px solid black;
    border-radius: 5px;
    margin: 5px
}

.EditPost .name-input, .rating-input, .title-input, .body-input {
    outline: none;
}

.EditPost .body-input {
    margin: 4px 0px 15px 4px;
    border-radius: 5px;
    border: .5px solid black;
    text-indent: 9px;
}

.EditPost .edit-post {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 110px;
    cursor: pointer;
}

.EditPost .delete-post {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 98px;
    margin-top: 10px;
    cursor: pointer;
}