.PoliticsPage .business-link, .science-link, .entertainment-link, .technology-link, .sports-link {
   color: black;
}

.PoliticsPage .business-link:hover, .science-link:hover, .entertainment-link:hover, .technology-link:hover, .sports-link:hover {
   text-decoration: underline;
}

.PoliticsPage .nav-categories {
   display: flex;
   justify-content: space-evenly;
   margin: 35px 30px 0px 30px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   padding: 10px;
}

.PoliticsPage .page-title {
   text-align: center;
   margin: 30px auto;
   font-size: 40px;
}

.PoliticsPage .container {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: repeat(2, 4fr);
   grid-template-rows: 220px 220px 220px 220px 220px 220px 220px 220px 220px;
   margin: 0 30px;
}

.PoliticsPage .title {
   font-size: 20px;
   text-decoration: none;
   color: black;
   margin-left: 5px;
   margin-top: 5px;
}

.PoliticsPage .title:hover { 
   text-decoration: underline;
   cursor: pointer;
}

.PoliticsPage .time {
   font-size: 15px;
   margin-top: -10px;
   margin-left: 5px;
   font-weight: lighter;
}

.PoliticsPage .politics-news {
   border: 1px solid gray;
   box-shadow: 3px 3px 3px black;
   padding-top: -60px;
   
}

.PoliticsPage .img {
   width: 140px;
   height: 120px; 
   float: left;
   margin-left: 5px;
}

.PoliticsPage .description {
   margin: -4px 10px 0px 10px;
   font-weight: lighter;
}

.PoliticsPage .img-description {
   display: flex;
   align-self: flex-start;
   margin-top: -15px;
}
