body {
    background-color: beige;
}

.App .nav {
    text-align: center;
}

.App .home {
    color: black;
}

.App .home:hover {
    text-decoration: underline;
}

a:-webkit-any-link {
    text-decoration: none;
}