.tech, .business, .politics, .sports, .culture {
    border-style: solid;
    border-color: white;
    background-color: white;
 }
 
 .tech {
    width: 900px;
    margin-left: 20px;
    height: 200px;
    margin-bottom: 20px;
 }
 
 .business {
    width: 425px;
    margin-left: 20px;
    height: 450px;
    margin-bottom: 20px;
    display: flex;
    float: left;
 }
 
 .politics {
    width: 425px;
    margin-left: 20px;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    float: left;
 }
 
 .culture {
    width: 425px;
    margin-left: 20px;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    float: left;
    height: 273px;
 }
 
 .sports {
    width: 425px;
    margin-right: 30px;
    height: 150px;
    margin-bottom: 20px;
    display: flex;
    float: right;
    margin-top: 20px;
    z-index: -1;
 }
 
 
 